{{!-- handlebar addcomment create by zliu442 --}}
<head>
  <link rel="stylesheet" href="/css/articlereader.css">
  <script src="/frontend-javascripts/likeFunctionality.js"></script>
</head>
<div>
  <h1>This is an article reader!</h1>
  
  {{#if article}}
    <h2>Title: {{article.title}}</h2>
    <p>Category: {{article.category}}</p>
    <p>Author: </p><a href = "/othersProfile/{{article.authorid}}">{{article.author}}</a>
    
    {{!-- check userid and show the botton --}}
    {{#if userid}}
        {{#if_eq userid article.authorid}}
            <p>Cannot subscribe to yourself</p>
        {{else}}
            {{#if isSubscribed}}
                <form id="unsubscribeform" method="get" action="/unsubscribe">
                    <input type="hidden" name="userid" id="userid" value="{{userid}}">
                    <input type="hidden" name="otheruserid" id="otheruserid" value={{article.authorid}}>
                    <button type="submit">Unsubscribe</button>
                </form>
            {{else}}
                <form id="subscribeform" method="get" action="/subscribe">
                    <input type="hidden" name="userid" id="userid" value="{{userid}}">
                    <input type="hidden" name="otheruserid" id="otheruserid" value={{article.authorid}}>
                    <button type="submit">Subscribe</button>
                </form>
            {{/if}}
        {{/if_eq}}
    {{else}}
        <a href="/login">Please Login to subscribe to others</a>
    {{/if}}
    <p>Post date and time: {{article.dateTime}}</p>
    {{!-- reserve for css --}}
    <div class ="articlecontent">
      <p>Content: {{{article.content}}}</p>
    </div>
    <button id="openModalBtn" onclick="addComment('{{article.id}}')">Comment</button>
  {{/if}}

  {{!-- Modal --}}
  <script>

    function addComment(articleID) {
        const commentUrl = `/comment/?articleId=${articleID}`;
        window.location.href = commentUrl;
    }

</script>





    {{#if comment}}
      <ul>
      {{#each comment}}
        <li>
         {{!-- reserve for css --}}
         <div class ="firsttiercomment">
          <p><a href="/othersProfile/{{this.author.id}}">{{this.author.account}}</a> reply to <a href="/othersProfile/{{this.replyeeid}}">{{this.replyee}}</a></p>
          <p>Post date and time: {{this.timeDate}}</p>
          <p>Comment content: <strong>{{this.content}}</strong> </p>
          <form action="/addsubcomment" method="POST">
            <fieldset>
            <legend>Comment Content</legend>
            <input type="hidden" name="parentComment" id="parentComment" value= {{this.id}}>
            <p>
              <label for="name_id" class="addcontent" data-COMMENTID={{this.id}}="">Reply to {{this.author.account}}</label><br />
              <input type="text" size="250" name="content" id="content_id"/>
            </p>

            </fieldset>   
            <p>
              <input type="submit" name="submit_button" id="submit_id" value="Done!" />
              <input type="reset" name="reset_button" id="reset_id" value="Clear" />
            </p>
            </form>
          {{#if this.subcomment}}
          <ul>
            {{#each this.subcomment}}
            <li>
         {{!-- reserve for css --}}
            <div class ="secondtiercomment">
              <p><a href="/othersProfile/{{this.author.id}}">{{this.author.account}}</a>reply to <a href="/othersProfile/{{this.replyee.id}}">{{this.replyee.account}}</a></p>
              <p>Post date and time: {{this.timeDate}}</p>
              <p>Comment content: <strong>{{this.content}}</strong> </p>
            </div>
            </li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
      {{/each}}
    </ul>
    {{else}}
      <p>There is no comment yet. Please add one now!</p>
    {{/if}}



</div>


<button id="like-button" data-article-id="{{article.id}}" data-user-id="{{article.currentUser.id}}">
    <span id="like-icon" >♥</span>
</button>
<p id="like-count">{{article.likeCount}} likes</p>


<h2>Users who liked this article:</h2>
<ul id="users-liked-list">
    {{#each article.usersLiked}}
        <li><a href="/othersProfile/{{this.id}}">{{this.account}}</a></li>
    {{/each}}
</ul>




