<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{categoryName}} Articles</title>
<link rel="stylesheet" href="/css/categoryPage.css">
</head>

<body>
    <div class="container">
        <h1 class="category-title">Articles for {{categoryName}}</h1>
      <ul class="articles-list">
    {{#each articles}}
        <li class="article-item">
            <a href="/article/{{this.id}}" class="article-link">
                <h2 class="article-title">{{this.title}}</h2>
                <p class="article-content">{{this.content}}</p>
            </a>
        </li>
    {{/each}}
</ul>

    </div>

    <button id="back-to-top" onclick="window.scrollTo(0,0)">↑</button>

</body>

</html>
