<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{categoryName}} Articles</title>
<link rel="stylesheet" href="/css/categoryPage.css">
</head>

<body>
    <div class="container">
                      <img class="modal-gif" src="/images/200w.webp" width="200" height="200">

        <h1 class="category-title">Articles for {{categoryName}}</h1>
      <ul class="articles-list">
  <ul class="articles-list">
    {{#each articles}}
        <li class="article-item">
            <a href="/article/{{this.id}}" class="article-link">
                <h2 class="article-title">{{this.title}}</h2>
                <div class="meta-info">
                    <p class="meta-author">
                        {{#if this.author.userimage}}
                            <img src="/images/userimages/{{this.author.userimage}}.png" alt="{{this.author.userimage}}" width="15" height="15" class = "meta-author">
                        {{else}}
                            <img src="/images/userimages/default.png" alt="default" width="15" height="15" class="meta-author">
                        {{/if}}
                        {{this.author.account}}
                    </p>
                    <p class="meta-time">posted in {{this.timedate}}</p>
                </div>
                <p class="article-content">{{this.content}}</p>
            </a>
        </li>
    {{/each}}
</ul>

</ul>

    </div>

    <button id="back-to-top" onclick="window.scrollTo(0,0)">↑</button>

</body>

</html>
