<div>
    <nav>
        <a href="/">Home</a>
        <a href="/toProfile">Profile</a>
        <a href="/toAdd">Add your article</a>
        {{!-- add one line by zliu442 to subscribe list --}}
        <a href="/subscribelist/{{userid}}">View your subscribe and follow list</a>
    </nav>
    <h2>Hello {{name}}</h2><a href="/logout">Log out</a>
    <h2>Your Articles:</h2>
    {{#each articles}}
    <div>
        <h2><a href="/article/{{id}}">{{title}}</a></h2>
        <p>{{{content}}}</p>
        <p>PostTime: {{postdate}}</p>
        {{#if imagename}}
            <img src="{{imagename}}" alt="{{imagename}}" width="200" height="150">
        {{else}}
            <p>The article do not have image</p>
        {{/if}}
        <button onclick="updateArticle('{{id}}')">Update</button>
        <button class='deleteArticle' data-article-id={{id}}>Delete</button>
    </div>
    {{/each}}
{{!-- analytic part create by zliu442 --}}
    <h1>Analytic dashboard:</h1>
    <p>Total Number of followers: {{followerNum}}</p>
    <p>Total Number of Comments for {{name}}'s articles: {{commentNum}}</p>
    <p>Total Number of Likes for {{name}}'s articles: {{likeNum}}</p>

    <h2>{{name}}'s top popular article</h2>
    {{#if toparticle}}
        <ul>
            {{#each toparticle}}
            <li>
                <ul>
                    <li>{{this.rank}} Ranked</li>
                    <li><p>Title: </p><a href="/article/{{this.id}}">{{this.title}}</a></li>
                    <li>Popular index is {{this.popularIndex}}</li>
                    <li>Comment Number is {{this.commentForTheArticle}}</li>
                    <li>Like Number is {{this.likeForTheArticle}}</li>
                    <li>Posted on {{this.postDate}}</li>
                </ul>
            </li>
            {{/each}}
        </ul>
    {{else}}
    <p>You do not post any article now.</p>
    {{/if}}

    {{!-- add histogram chart --}}
    <h2>This is histogram chart of the number of your articles commented</h2>
    <canvas id="commentHistogram"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>



{{!-- to Create comment analysis histogram --}}
<script>
    let ctx = document.getElementById('commentHistogram').getContext('2d');
    let chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{{json lastTendays}}},
            datasets: [{
                label: 'number of comment on your artical each day',
                data: {{{json commentNumTendays}}},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(205, 99, 204, 0.2)',
                    'rgba(54, 100, 140, 0.2)',
                    'rgba(204, 255, 51, 0.2)',
                    'rgba(102, 50, 153, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(205, 99, 204, 1)',
                    'rgba(54, 100, 140, 1)',
                    'rgba(204, 255, 51, 1)',
                    'rgba(102, 50, 153, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{{! add button to delete a article-----txu470 }}
<script>

    function updateArticle(articleId) {
        const updateUrl = `/updatearticle/?articleId=${articleId}`;
        window.location.href = updateUrl;
    }

</script>
{{!-- <script>
    const deleteArticleButtons = document.querySelectorAll('.deleteArticle');
    deleteArticleButtons.forEach(button => {
        button.addEventListener('click',
            async(e) => {
                const articleId = button.getAttribute('data-article-id');
                const response = await fetch(`/article/${articleId}`, { method: 'DELETE' });
                const data = await response.json(); console.log(data);
            });
    });
</script> --}}