<div>

    <nav>
        <a href="/">Home</a>
        <a href="/toProfile">Profile</a>
        <a href="/toAdd">Add your article</a>
        {{!-- add one line by zliu442 to subscribe list --}}
        <a href="/subscribelist/{{userid}}">View your subscribe and follow list</a>
    </nav>
    <h2>Hello {{name}}</h2><a href="/logout">Log out</a>
    <h2>Your Articles:</h2>
    {{#each articles}}
    <div>
        <h2><a href="/article/{{id}}">{{title}}</a></h2>
        <p>{{content}}</p>
    </div>
    {{/each}}
</div>