<div>

    <nav>
        <a href="/">Home</a>
        <a href="/toProfile">Profile</a>
        <a href="/toAdd">Add your article</a>
    </nav>
    <h2>Hello {{name}}</h2><a href="/logout">Log out</a>
    <h2>Your Articles:</h2>
    {{#each articles}}
    <div>
        <h2><a href="/article/{{id}}">{{title}}</a></h2></h2><button
            class='deleteArticle'
            data-article-id={{id}}
        >X</button>
        <p>{{content}}</p>
    </div>
    {{/each}}
</div>
{{! add button to delete a article-----txu470 }}
<script>
    const deleteArticleButtons = document.querySelectorAll('.deleteArticle');
    deleteArticleButtons.forEach(button => { button.addEventListener('click',
    async (e) => { const articleId =button.getAttribute('data-article-id');
    const response = await fetch(`/article/${articleId}`, { method: 'DELETE' });
    const data = await response.json(); console.log(data); }); });
</script>