
{{! add a input and a button to delete a article by router'/article/:id' }}
{{#if userid}}
<a href="./toDashboard">Dashboard </a><br>
{{else}}
<a href="./login">Login here please! </a><br>
{{/if}}
<form action='/search' method='get'>
    <input type='text' name='keyword' placeholder='Search for articles...' />
    <button type='submit'>Search</button>
</form>

<h2>All Articles:</h2>
{{#each articles}}
<div>
    <h2><a href="/article/{{id}}">{{title}}</a></h2>
    {{#if imagename}}
      <img src="{{imagename}}" alt="{{imagename}}" width="200" height="150">
    {{else}}
      <p>The article do not have image</p>
    {{/if}}
    <p>Post date and time: {{postdate}}</p>
    <p>{{content}}</p>
</div>
{{/each}}

{{! add a input and a button to delete a comment-----txu470 }}
<input type='text' id='commentId' placeholder='Comment Id' />
<button class='deleteComment'>Delete Comment</button>

<script>
    const deleteArticleButtons = document.querySelectorAll('.deleteArticle');
    const deleteCommentButtons = document.querySelectorAll('.deleteComment');
    deleteArticleButtons.forEach(button => { button.addEventListener('click',
    async (e) => { const articleId = document.querySelector('#articleId').value;
    const response = await fetch(`/article/${articleId}`, { method: 'DELETE' });
    const data = await response.json(); console.log(data); }); });
    deleteCommentButtons.forEach(button => { button.addEventListener('click',
    async (e) => { const commentId = document.querySelector('#commentId').value;
    const articleId = document.querySelector('#articleId').value; const
    response= await fetch(`/article/${articleId}/comment/${commentId}`, {
    method: 'DELETE' }); const data = await response.json(); console.log(data);
    }); });

</script>
