{{#each articles}}
    <div>
        <h2><a href='/article/{{id}}'>{{title}}</a></h2><button
            class='deleteArticle'
            data-article-id={{id}}
        >X</button>
        <p>{{content}}</p>
    </div>
{{/each}}
{{! add button to delete a article-----txu470 }}
<script>
    const deleteArticleButtons = document.querySelectorAll('.deleteArticle');
    deleteArticleButtons.forEach(button => { button.addEventListener('click',
    async (e) => { const articleId =button.getAttribute('data-article-id');
    const response = await fetch(`/article/${articleId}`, { method: 'DELETE' });
    const data = await response.json(); console.log(data); }); });
</script>
<div>
    <h2><a href="/article/{{id}}">{{title}}</a></h2>
    <p>{{content}}</p>
    <button onclick="updateArticle('{{id}}')">Update</button>
</div>
{{/each}}

{{!-- <script>
    function updateArticle(articleId) {
    // 构建跳转链接
    let updateUrl = '/updatearticle/';
    // 执行页面跳转
    window.location.href = updateUrl;
}
</script> --}}

<script>
    function updateArticle(articleId) {

    // 构建跳转链接，包含 articleId 参数
    const updateUrl = `/updatearticle/?articleId=${articleId}`;

    // 执行页面跳转
    window.location.href = updateUrl;
}

</script>

