<a href = '/' id="link">Return</a>
{{#if articles}}
    <p>Relative articles for keyword: {{../keyword}}</p>
    {{#each articles}}
        <div>
            <h2><a href='/article/{{id}}'>{{title}}</a></h2>
                {{#if this.author.userimage}}
                    <img src="/images/userimages/{{this.author.userimage}}.png" alt="{{this.author.userimage}}" width="30" height="30" class="userimage">
                {{else}}
                    <img src="/images/userimages/default.png" alt="default" width="30" height="30" class="userimage">
                {{/if}}
                <a href = "/othersProfile/{{this.author.id}}">{{this.author.account}}</a>
            
            <p>Post in {{timeDate}}</p>
            <p>{{content}}</p>
        </div>
    {{/each}}
{{else}}
    <p>No relative articles for keyword: {{keyword}}</p>
{{/if}}


