<h1>Edit Article</h1>
  <a href="/toDashboard">Return</a>
<form id="edit-article-form" method="post" action="/updateArticleRoutes" enctype="multipart/form-data">
    <input type="hidden" name="userid" id="userid" value="{{userid}}">
    <input type="hidden" name="articleId" id="articleId" value="{{articleId}}">
    <input type="hidden" name="currentimage" id="articleimage" value="{{article.imagename}}">
    <fieldset>
      <legend>Article Title</legend>
      <p>
        <label for="name_id" class="addtitle">Title</label><br />
        <input type="text" size="100" name="title" id="title_id" value="{{article.title}}"/>
      </p>
    </fieldset>
    <fieldset>
      <legend>Category</legend>
      <p class="question">What is the category of the article:</p>
      <p>You current category: {{article.category.name}}</p>
      <p>
        {{#each category}}
        <input type="radio" name="categoryid" id="{{this.name}}" value={{this.id}} />
        <label for="{{this.id}}">{{this.name}}</label>
        {{/each}}
      </p>
    </fieldset>

    <fieldset>
      <legend>Image</legend>
      <p>You current image</p>
      {{#if article.imagename}}
        <img src="{{article.imagename}}" alt="{{article.imagename}}" width="300" height="180">
      {{else}}
        <p>No img for the article</p>
      {{/if}}
      <br>
      <label for="inpFile">Upload your image for article here if you want to change</label>
      <input id="inpFile" type="file" name="imageFile" accept =".png,.jpeg,.jpg,.bmp">
    </fieldset>

    <fieldset>
      <legend>Content</legend>
        <textarea id="mytextarea" name="content"> {{{article.content}}}</textarea>
    </fieldset>
    <button type="submit">Submit</button>
</form>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const articleId = urlParams.get('articleId');
    document.getElementById('articleId').value = articleId;
</script>

<script src="https://cdn.tiny.cloud/1/kindgwy6154gcl4sj7ok1lzziypb6p5k0ilsttw63g7anvj8/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
      mergetags_list: [
        { value: 'First.Name', title: 'First Name' },
        { value: 'Email', title: 'Email' },
      ],
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
    });
</script>